.Header {
  background-color: #f1dabf;
  color: #eef5db;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;

  .header-logo {
    width: 40%;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    color: #362417;
    text-decoration: none;
    letter-spacing: 0.2rem;
  }

  .header-navigations {
    display: flex;
  }
  .header-navigation {
    font-size: 1.2rem;
    font-family: "Playfair Display", serif;
    color: #362417;
    padding-left: 2.5rem;
    letter-spacing: 0.1rem;
  }
}
