.sign-in {
  border-right: 1px solid black;
  width: 50%;
  padding-left: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;

  h2 {
    margin: 2rem 0;
    letter-spacing: 0.3rem;
  }
}
