.button {
  padding: 0.5rem 1.3rem;
  color: white;
  letter-spacing: 0.1rem;
  border-radius: 5px;
  margin: 2rem 0.5rem;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: translateY(-7px);
  }

  &.sign-in-btn {
    background-color: #7fdbff;
  }

  &.sign-up-btn {
    background-color: #2ecc40;
  }

  &.sign-in-google-btn {
    background-color: #4285f4;
  }
}
