.form-group {
  width: 40vw;
  position: relative;
  margin: 1.5rem 0;

  input {
    border: none;
    width: 100%;
    outline: 0;
    font-size: 16px;
    padding: 16px 16px 10px;

    &:focus + label {
      color: cadetblue;
      font-size: 10px;
      top: 8px;
    }
  }

  label {
    position: absolute;
    top: 16px;
    font-size: 16px;
    left: 20px;
    transition: all 0.3s ease-in-out;
  }

  .shrinked {
    color: cadetblue;
    font-size: 10px;
    top: 8px;
  }

  input[type="email"] {
    letter-spacing: 0.1rem;
  }
  input[type="password"] {
    letter-spacing: 0.4rem;
  }
}
